{% extends 'base.html.twig' %}

{% block title %}Denuncia{% endblock %}

{% block body %}
    <h1>Denuncia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ denuncium.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ denuncium.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ denuncium.descripcion }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ denuncium.foto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ denuncium.fecha ? denuncium.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('denuncia_index') }}">back to list</a>

    <a href="{{ path('denuncia_edit', {'id': denuncium.id}) }}">edit</a>

    {{ include('denuncia/_delete_form.html.twig') }}
{% endblock %}
