{% extends 'base.html.twig' %}

{% block title %}Denuncias index{% endblock %}

{% block body %}
    <h1>Denuncias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Dirección</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for denuncia in denuncias %}
            <tr>
                <td>{{ denuncia.id }}</td>
                <td>{{ denuncia.titulo }}</td>
                <td>{{ denuncia.descripcion }}</td>
                <td>{{ denuncia.fecha ? denuncia.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ denuncia.direccion }}</td>
                <td><img src="{{ vich_uploader_asset(denuncia, 'imageFile') }}" alt="{{ denuncia.imageName }}" height="50"/></td>
                <td>
                    <a href="{{ path('denuncias_show', {'id': denuncia.id}) }}">show</a>
                    <a href="{{ path('denuncias_edit', {'id': denuncia.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('denuncias_new') }}">Create new</a>
{% endblock %}
